@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-semibold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "dear-daddy";
  src: url("../fonts/DEAR Daddy.ttf");
}
@font-face {
  font-family: "at-the-party";
  src: url("../fonts/Denne At The Tea Party.ttf");
}
.dear-daddy {
  font-family: "dear-daddy" !important;
}

.at-the-party {
  font-family: "at-the-party" !important;
}

.txt-primary {
  color: #548f6f !important;
}

.bg-theme {
  background: #548f6f;
}

.bg-secondary {
  background: #4fc383 !important;
}

.txt-secondary {
  color: #4fc383 !important;
}

body {
  font-family: "Mulish";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #767676;
}
body .container {
  max-width: 1170px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.4;
  font-family: "Poppins";
  color: #000;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  color: #000;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .title {
    text-align: center;
    margin-bottom: 13px;
  }
}

.btn-theme {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #548f6f;
  border: 2px solid #548f6f;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn-theme:hover {
  color: #fff;
  background-color: #4fc383 !important;
}

.py-default {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .py-default {
    padding: 25px 0;
  }
}

.tour {
  background: rgba(76, 155, 112, 0.168627451);
}

.site-header {
  background: #548f6f;
}
.site-header .nav-custom .nav-link {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: "montserrat";
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  padding: 8px 15px;
  transition: all 0.4s ease-in-out;
  background: #548f6f;
  margin: 5px;
  border-radius: 6px;
  color: #fff;
}
.site-header .nav-custom .nav-link.active {
  color: #ffffff !important;
  background: #4fc383 !important;
}
.site-header .nav-custom .nav-link:hover {
  color: #ffffff !important;
  background: #4fc383 !important;
}
@media (max-width: 768px) {
  .site-header .nav-custom .nav-link {
    width: 100%;
    margin: 5px 0;
  }
}
@media (max-width: 768px) {
  .site-header .nav-custom {
    padding-top: 25px;
  }
}

#about {
  background: #F3F3F3;
}

.banner {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(211, 211, 211, 0), rgba(128, 128, 128, 0.4509803922)), url(../images/home/user.jpg);
  background-repeat: no-repeat;
  background-position: 37% 143%;
  background-size: cover;
}
@media (max-width: 768px) {
  .banner {
    background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.6), rgba(175, 175, 175, 0.6901960784)), url(../images/home/user.jpg);
    background-position: 67% 123%;
    height: 347px;
  }
}
@media (max-width: 600px) {
  .banner {
    background-image: linear-gradient(175deg, rgba(255, 255, 255, 0.6), rgba(175, 175, 175, 0.41)), url(../images/home/user.jpg);
    background-position: 67% 123%;
    height: 320px;
  }
}
@media (max-width: 768px) {
  .banner .banner-title {
    text-align: center;
    margin-top: 7%;
    width: 100%;
  }
}
.banner .banner-title h1 {
  font-size: 70px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 0.9;
}
@media (max-width: 768px) {
  .banner .banner-title h1 {
    font-size: 50px;
    line-height: 1;
  }
}
.banner .banner-title .subtext {
  letter-spacing: 1.5px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
  max-width: 400px;
  font-style: italic;
}
@media (max-width: 768px) {
  .banner .banner-title .subtext {
    color: #000;
  }
}

.tickets_container .tickets {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 1px 12px 0px rgba(128, 128, 128, 0.2196078431);
  transition: all 0.3s ease-in-out;
}

.tickets_container .tickets:hover {
  transform: scale(1.02);
  background: #feffe4;
  border-color: #000;
}

.tickets_container .tickets:nth-child(odd) {
  background: #f5f5f5;
}

.tickets_container .tickets:nth-child(odd):hover {
  background: #feffe4;
}

@media (max-width: 768px) {
  .tickets_container .tickets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
.tickets_container .tickets .items {
  flex: 2;
  padding: 8px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .tickets_container .tickets .items {
    padding: 0;
  }
}

.tickets_container .tickets .items h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .tickets_container .tickets .items h3 {
    margin-bottom: 0;
  }
}

.tickets_container .tickets .items:first-child {
  order: 1;
  max-width: 210px;
}

.tickets_container .tickets .items:nth-child(2) {
  flex: 3;
  order: 3;
}

.tickets_container .tickets .items:nth-child(2) h3 {
  font-size: 18px;
}
@media (max-width: 768px) {
  .tickets_container .tickets .items:nth-child(2) h3 {
    text-align: center;
    font-size: 16px;
  }
}

.tickets_container .tickets .items:nth-child(3) {
  order: 2;
  max-width: 270px;
}

.tickets_container .tickets .items:nth-child(3) h3 span {
  font-size: 21px !important;
}

.tickets_container .tickets .items:last-child {
  flex: 1;
  justify-content: end;
  order: 4;
}

.btn-theme-ticket {
  border-radius: 6px;
  background: #548f6f;
  text-align: center;
  font-weight: bold;
  border: 0;
  padding: 3px 7px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
  border: 2px solid #000;
  text-decoration: none;
}
.btn-theme-ticket:hover {
  background: #000;
  color: #fff;
}

.info-bar {
  display: flex;
  gap: 10px;
}
.info-bar span:first-child {
  color: slategray;
  font-family: "Poppins";
  font-weight: 600;
  flex-basis: 100px;
}
.info-bar span:last-child {
  color: #548f6f;
}

.copy {
  text-transform: uppercase;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}

.social a {
  margin: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #548f6f;
  color: #4fc383 !important;
}

:target {
  padding-top: 85px !important;
}

.form-style {
  padding: 30px;
  border: 1px solid #548f6f;
  border-radius: 10px;
  background: #E1EEE7;
}

#videos {
  background-image: url("../images/img/patterns/inspiration-geometry.png");
}/*# sourceMappingURL=app.css.map */